body {
	background-color: #edf4f2;
	/*theme colors "https://colorhunt.co/palette/182197"*/
	/*	Red: #d32626;
		Green: #79d70f;
		Orange: #f5a31a;
		Gray: #edf4f2;
	*/
}
img {
	border: 2px groove #79d70f;
	border-radius: 60px
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #f5a31a;
}
th a {
	padding: 5px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 90px;
}
th a:hover {
	background-color: #79d70f;
	color: black;
}
hr {
	margin: 20px 0px 40px 0px;
	border-style: solid;
	height: 1px;
	background-color: #d32626;

}
hr:last-of-type {
	margin-bottom: 80px;
}
.tbl {
	text-align: center;
	border: 2px groove #79d70f;
}